/* Master styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Lateef", sans-serif;
}

/* Header */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: radial-gradient(rgba(6, 4, 27, 0.7),rgba(3, 9, 22, 0.7)),url(imag/cabos.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

body {
    font-family: "Lateef", sans-serif;
}

/* Nav styles */
.nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    padding: 38px;
    height: 22px;
    margin-right: 48px;
    flex: 1;
    text-align: right;
    text-transform: uppercase;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: border-bottom 0.5s;
}

.nav-links ul li a {
    color: #8ea3a0;
    text-decoration: none;
    transition: color 0.5s;
    font-size: 1.3em; 
}

.nav-links:hover {
    border-bottom: 1x solid white;
}

.nav-links a:hover {
    color: white;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* Text box */
.text-box {
    width: 90%;
    color: #a5cad1;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    text-align: center;

}

.text-box a {
    font-family: "Lateef", sans-serif;
    font-style: italic;
}

.text-box h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.13em;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 19.5px;
    font-style: italic;
    letter-spacing: 0.1em;
    color: #a5cad1;
}

.hero {
    display: inline-block;
    text-decoration: none;
    color: #8ea2a3;
    font-size: 23px;
    border: 1px solid #daf9fc; 
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero:hover {
    border: 1px solid #a5cad1;
    background: #ffffff;
    transition: 0.5s;
}
nav .fa {
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #8fc3ca;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}
/* Content */
.content {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.13em;
}

/* Portfolio styles */

.portfolio-items-wrapper {
    margin-top: 5%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3,1fr);
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio-items-wrapper-bright {
    display: grid;
    grid-template-columns: 1fr;
}

.portfolio-item-wrapper-bright {
    position: relative;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* Subtitle */
.subtitle-link-wrapper a {
    color: rgb(251, 253, 253);
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Lateef", sans-serif;
}

.subtitle-link-wrapper a {
    color: rgb(242, 248, 248);
    text-decoration: none;
    font-family: "Lateef", sans-serif;
    font-size: 1.5em;
    text-align: center;
}

/* About page */
.section {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(200, 230, 222);
}

.container {
    width: 90%;
    display: block;
    margin: auto;
    justify-content: space-between;
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
}
/*    margin-top: 5%;
    display: grid;
    justify-content: space-evenly; */

.content-section {
    float: left;
    width: 52%;
}
/*    float: left;
    width: 55%;
    top: 40px;
    width: 700px;
    height: 700px; */

.image-section {
    float: right;
    width: 28%;
}

.image-section img{
    width: 100%;
    height: auto;
    display: block;
}

.content-section .title h1{
    text-transform: uppercase;
    font-size: 28px;
    color:#262c2c;
}

.content-section .content h3{
    margin-top: 20px;
    color:#1c2222;
    font-size: 26px;
}

.content-section .content p{
    text-align: left;
    margin-top: 10px;
    font-size: 26px;
    line-height: 1.5;
    color:#222929;
}

/* Nav styles for aboutme.html */
.nav-aboutme {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-aboutme-links {
    padding: 38px;
    height: 22px;
    margin-right: 48px;
    flex: 1;
    text-align: right;
    text-transform: uppercase;
}

.nav-aboutme-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: border-bottom 0.5s;
}

.nav-aboutme-links ul li a {
    color: #191f1f;
    text-decoration: none;
    transition: color 0.5s;
    font-size: 1.3em; 
}

.nav-aboutme-links:hover {
    border-bottom: 1x solid rgb(85, 122, 122);
}

.nav-aboutme-links a:hover {
    color: rgb(91, 148, 148);
}

.nav-aboutme-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(112, 121, 124);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-aboutme-links ul li:hover::after {
    width: 100%;
}

nav-aboutme .fa {
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #8fc3ca;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

/* Nav styles for timeseries.html */
.nav-timeseries {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-timeseries-links {
    padding: 38px;
    height: 22px;
    margin-right: 48px;
    flex: 1;
    text-align: right;
    text-transform: uppercase;
}

.nav-timeseries-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: border-bottom 0.5s;
}

.nav-timeseries-links ul li a {
    color: #8ea3a0;
    text-decoration: none;
    transition: color 0.5s;
    font-size: 1.3em; 
}

.nav-timeseries-links:hover {
    border-bottom: 1x solid rgb(27, 29, 29);
}

.nav-timeseries-links a:hover {
    color: rgb(31, 32, 32);
}

.nav-timeseries-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(39, 41, 40);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-timeseries-links ul li:hover::after {
    width: 100%;
}

nav-timeseries .fa {
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #8fc3ca;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

/* Time series page */
.content-timeseries {
    width: 80%;
    margin: auto;
    text-align: start;
    padding: 100px;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.13em;
}

.row {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.content-column {
    flex-basis: 100%;
    background: #d4f1ed;
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 30px 60px;
    box-sizing: border-box;
    transition: 0.5s;
}

.content-column {
    box-shadow: 0 0 17px 0px rgba(196, 212, 212, 0.7);
}

p1 {
    text-align: match-parent;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 0.03em; 
}

p2 {
    text-align: match-parent;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 0.03em; 
}

p3 {
    text-align: match-parent;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 0.03em;  
}

p4 {
    text-align: match-parent;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 0.03em;
}

p5 {
    text-align: match-parent;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 0.03em;
}

.img-eye {
    width: 190px;
    height: 110px;
    background-image: url(imag/aqi_2019.png);
    background-size: 100%;
} 

/* Nav styles for timeseries.html */
.nav-media {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-media-links {
    padding: 38px;
    height: 22px;
    margin-right: 48px;
    flex: 1;
    text-align: right;
    text-transform: uppercase;
}

.nav-media-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: border-bottom 0.5s;
}

.nav-media-links ul li a {
    color: #8ea3a0;
    text-decoration: none;
    transition: color 0.5s;
    font-size: 1.3em; 
}

.nav-media-links:hover {
    border-bottom: 1x solid rgb(217, 255, 255);
}

.nav-media-links a:hover {
    color: rgb(226, 255, 254);
}

.nav-media-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(197, 255, 240);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-media-links ul li:hover::after {
    width: 100%;
}

nav-media .fa {
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #8fc3ca;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}
