*:before
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lateef", sans-serif;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

body {
    background-image: url('imag/back.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

/* HOME PAGE NAV */
.primarynav {
    background: linear-gradient(to right, #24463e, #d7dde8);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(8px);
    box-shadow: 0 18px 28px rgba(0,0,0,0.19)
}

.primarynav__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px; 
}

.my-burger div{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}

#primarynav__logo {
    background-color: #000000;
    background-image: linear-gradient(to right, #6e7a77, #d7e8e6);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    position: absolute;
    left: -1px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    width: 60%;
    padding: 10px 0;
} 

.primarynav__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.primarynav__item {
    height: 80px;
}

.primarynav__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.primarynav__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.primarynav__links:hover {
    color: #171730;
    transition: all 0.3s ease;
}

@media screen and (max-width: 760px) {
    .primarynav__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .my-burger {
        display: none;
    }

    .primarynav__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px; 
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .primarynav__menu.active {
        background: #24463e;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #primarynav__logo {
        padding-left: 25px;
        position: relative;
    }

    .primarynav__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease;
        background: #181833;
    }

    .primarynav__item {
        width: 100%;
    }

    .primarynav__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);

    }

    .primarynav__toggle .bar {
        display: block;
        cursor: pointer;
        background-color: #fff;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
/* Hero */
.hero {
    padding: 100px 0;
}

.hero__container {
    padding: 30px;
    margin: 0 auto;
    max-width: 1300px;
    align-items: center;
    text-align: start;
    flex-direction: column;
    height: 80%;
}

.hero__heading {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 0.08em;
    color:rgb(57, 59, 70);
}

.hero__description {
    text-align: center;
    font-size: 23px;
    letter-spacing: 0.08em;
    color:rgb(41, 40, 46);
}

.highlight {
    border-bottom: 4px solid rgb(63, 66, 247);
}

@media screen and (max-width: 760px) {
    .hero__heading {
        font-size:36px;

    }
}

/* Email */
.email {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.email h1 {
    padding: 20px 0px 0px 30px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.03em;
    padding: 19px;
    color: rgb(57, 59, 70);
    align-items: center;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: #2b3142; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.20rem;
    text-transform: uppercase;
    font-family: "Lateef", sans-serif;
    transition-duration: 0.4s;
    width: 200px;
    
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(9, 8, 14, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
button:hover span {
    padding-right: 25px;
}
  
button:hover span:after {
    opacity: 1;
    right: 0;
}


/* About page */
.section {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

.aboutbody {
    background-image: url('imag/back2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container {
    display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
}

.content-section {
    flex: 1;
    float: left;
    width: 65%;
}

.image-section {
    justify-content: flex-end;
    height: 100%;
    float: left;
    width: 35%;
}

.image-section img{
    width: 74%;
    height: auto;
    display: flex;
    border: 10px solid transparent;
    padding: 18px;
    border-radius: 50%;
}

.content-section h1{
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    color:#2b3142;
}


.content-section h3{
    margin-top: 10px;
    text-align: center;
    letter-spacing: 0.05em;
    color:#2b3142;
    font-size: 26px;
}

.content-section p { 
    text-align: left;
    margin-top: 10px;
    font-size: 23px;
    line-height: 1.5;
    color:#2b3142;
    justify-content: space-around;
}

@media all and (max-width: 767px) {
    .content-section p {
        line-height: 1.5;
        margin-bottom: 2%;
        display: grid;
        grid-template-columns: auto;
        text-align: start;
        font-size: 17px;
        justify-content: space-evenly;
        width: 100%;
    }

    .content-section h1{
        line-height: 1.5;
        margin-bottom: 5%;
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        font-size: 20px;
    }   
    .content-section h3{
        line-height: 1.5;
        margin-bottom: 5%;
        display: grid;
        grid-template-columns: auto;
        font-size: 18px;
        text-align: center;
    }

    .image-section {
        visibility: hidden;
    }

    .image-section img {
        visibility: hidden;
    }

}
/* Nav styles for aboutme.html */
.nav-aboutme {
    background: rgb(90, 112, 105);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.aboutme_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

}

.navaboutme__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navaboutme__item {
    height: 80px;
}

.nav-aboutme-links {
    color: rgb(65, 97, 86);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.nav-aboutme__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.nav-aboutme-links:hover {
    color: #f3f7f5;
    transition: all 0.3s ease;
}

@media screen and (max-width: 760px) {
    .aboutme_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .my-burger {
        display: none;
    }

    .navaboutme_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px; 
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navaboutme_menu.active {
        background: #24463e;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    .navaboutme__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease;
        background: #181833;
    }

    .navaboutme__item {
        width: 100%;
    }

    .nav-aboutme-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        margin: 0;
    }

    #mobile-menu-aboutme {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);

    }

    .navaboutme__toggle .bar {
        display: block;
        cursor: pointer;
        background-color: #fff;
    }

    #mobile-menu-aboutme.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu-aboutme.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu-aboutme.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Nav styles for timeseries.html */
.nav-blog {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-blog-links {
    padding: 38px;
    height: 22px;
    margin-right: 48px;
    flex: 1;
    text-align: right;
    text-transform: uppercase;
}

.nav-blog-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: border-bottom 0.5s;
}

.nav-blog-links ul li a {
    color: #8ea3a0;
    text-decoration: none;
    transition: color 0.5s;
    font-size: 1.3em; 
}

.nav-blog-links:hover {
    border-bottom: 1x solid rgb(27, 29, 29);
}

.nav-blog-links a:hover {
    color: rgb(31, 32, 32);
}

.nav-blog-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(39, 41, 40);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-blog-links ul li:hover::after {
    width: 100%;
}

.nav-blog .fa {
    display: none;
}

nav .fa {
    display: none;
}
